body{
    background-color: #1A0B2E;
    color: white;
}
button{
    cursor: pointer;
}
/* nav releted style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    border-bottom: 0.1px solid #2b2335;
}
ul{
    display: flex;
    gap: 4rem;
}
ul li{
    list-style: none;
}

.navbar .btn-1, #f{
    background-image: linear-gradient(to right top,rgb(209, 209, 17), red, purple 90%);
}
#f{
    color: transparent;
    -webkit-background-clip: text;
}
.btn-1{
     padding: 12.5px 16px;
     color: white;
     border: none;
     border-radius: 14px;
}
/* HERO RELETED */

.content{
     text-align: center ;
     align-items: center;
    
}
.image{
    background-image: url(assets/hero-circle.png);
    /* position: relative; */
    background-size: cover;
    width: 350px;
    height: 350px;
    /* align-items: center; */
    text-align: center;
    margin: 10px auto;
    /* padding-top: 81px;
    padding-left: 60px;
    padding-bottom: 70px;
    padding-right: 60px;
     */
}
.image img{
    margin: 70px auto;
}
.btn-2{
      background-image: linear-gradient(to right top,rgb(209, 209, 17), red, purple 90%);
        padding: 12.5px 16px;
     color: white;
     border: none;
     border-radius: 14px;
     align-items: center;
     text-align: center;
    
}
.hero{
    min-width: 1600PX;
    max-height: 760PX;
   
    background-image: url(assets/hero-bg.png);
    /* background: url(assets/hero-circle.png ) , url(assets/microphone.png); */
    background-size: 100% 100%;
    margin-top: 20px;
}

#hh{
   font-weight: 900;
   font-size: 60px;
   margin-bottom: 7px;
}
.p3{
    color: rgb(151, 153, 155);
}
.btn-3{
     border-radius: 14px;
     padding: 12.5px 19px;
     background-color: transparent;
     border-color: #2dc47d;
     color: #2dc47d;
    
}


.about{
    /* padding: 50px 30px;
    /* border-bottom: 0.1px solid #2b2335; */
    /* text-align: center;
    margin: 40px 60px; */ */
}
.content-2{
    border-bottom: 0.1px solid #2b2335;
    text-align: center;
    margin: 40px 200px;
    max-width: 1200px;
    max-height: 222px;
    padding: 50px 20px;
}
#hhh , .fuck{
    font-weight: bold;
    font-size: 48px;
}
.sm-card{
    display: flex;
    justify-content: space-between;
     margin: 40px 200px;
}
.fuck{
    color: #2dc47d;
}
.cards{
    align-items: center;
}



main{
    background-color: #230E3D ;
    padding: 120px 200px;
}
.card-1{
    background-color: #281144;
    border-radius: 12px;
     padding: 20px 40px;
}
#c1{
   grid-area: headphone;
   padding-top: 50px;
}
#c2{
   grid-area: mobile;
}
#c3{
   grid-area: loction; 
}
#c4{
   grid-area: png;
}
#c5{
   grid-area: book;
}
main{
    display: grid;
    gap: 23px;
    grid-template-areas: 
    /* "          you    " */
    "headphone mobile mobile"
    "headphone loction loction"
    "png png   book";
}

#c4 img{
    max-width: 60px;
    max-height: 60px;
}
#you{
    text-align: center;
     background-color: #230E3D ;
     margin-bottom: 0px;
     padding-top: 30px;
     font-weight: bold;
    font-size: 48px;
}


.future{
     padding: 120px 200px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(1, 1fr);
     align-items: center;
     gap: 20px;
    

}
#fh{
    text-align: center;
    margin-bottom: 3px;
    padding-top: 80px;
}
.youtube{
    width: 380PX;
    height: 440PX;
    border-radius: 16px;
    background-color: #25123b;
    padding: 5px 7px;
}
.p2{
     color: #2dc47d;
}



.alex{
    background-color: #25123b;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 200px;
    border-radius: 14px;
    padding: 40px 40px;
}
#meet{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
.imgf{
    padding: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0.20PX solid #2b2335;
}